<div id="carouselExampleCaptions" class="relative carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="absolute bottom-0 left-0 right-0 flex justify-center p-0 mb-4 carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="relative w-full overflow-hidden carousel-inner">
        <div class="relative float-left w-full carousel-item active">
            <video class="p-4 mt--2" autoplay loop muted>
        <source src="https://ik.imagekit.io/j1lr0uqju/v2_0npRbR2KPq.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1653368201435" type="video/mp4" />
      </video>

        </div>

        <div class="relative float-left w-full carousel-item">
            <video class="p-4 mt--2" autoplay loop muted>
        <source src="https://ik.imagekit.io/j1lr0uqju/v3__ABAkMez_k.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1653382833907" type="video/mp4" />
      </video>
        </div>
        <div class="relative float-left w-full carousel-item">
            <video class="p-4 mt--2" autoplay loop muted>
        <source src="https://ik.imagekit.io/j1lr0uqju/v1__7fb68cWtw.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1653382774519" type="video/mp4" />
      </video>

        </div>
    </div>
    <button class="absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
    <span
      class="inline-block bg-no-repeat carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
    <span
      class="inline-block bg-no-repeat carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="py-16 hero ">
    <div class="container flex items-center justify-between mx-auto ">
        <div class="w-1/2 ">
            <h4><em>Are you looking for something delicious and mouth watering foods?</em></h4><br>
            <h1 class="text-6xl font-bold ">Don't wait !!! Let's Go...</h1>
            <a href="/login"><button class="px-6 py-2 mt-4 font-bold text-white rounded-full btn-primary">Order Now</button></a>

        </div>

        <div class="w-4 w-1/2 ml-10 h-200 ">
            <img src="/img/boy.jpg " alt=" ">
        </div>
    </div>
</section>

<section class="container py-8 mx-auto menu ">
    <h1 class="h-20 text-2xl font-bold text-center underline text-brown-700">WELCOME TO FOOD PLAZA</h1>
    <h1 class="mb-8 text-xl font-bold "> YUMMY!! DISHES</h1>
    <div class="grid grid-cols-4 gap-16 col-gap-12 row ">
        <% foodi.forEach(function(food){%>
            <div class="w-64 ">
                <img class="mx-auto mb-4 h-50 rounded-3xl " src=" /img/<%=food.image%> " alt=" ">
                <div class="text-center ">
                    <h2 class="mb-4 font-serif text-lg font-bold ">
                        <%=food.name%>
                    </h2>
                    <span class="px-4 py-1 text-xs uppercase rounded-full size "><%=food.feature%> </span>
                    <div class="flex items-center justify-around mt-6 ">
                        <span class="text-lg font-bold ">₹<%=food.price%> </span>
                        <button data-food="<%=JSON.stringify(food)%>" class="items-center px-6 py-1 font-bold rounded-full add-to-cart ">
                    <span>+</span>
                    <span class="ml-4 ">Add</span>
                </button>
                    </div>
                </div>
            </div>

            <% }) %>


    </div>

</section>